@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #fbfbfb;
}

.btn-thicc {
  @apply px-4 py-2 rounded-full font-bold transition;
}

.btn-primary {
  @apply bg-blue-100 text-blue-800;
}

.btn-primary:hover {
  @apply bg-blue-200 text-blue-800;
}

.release-amount-input::-webkit-inner-spin-button, 
.release-amount-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}